userspace/userspace
cnivpp/test/memifAddDel/memifAddDel
cnivpp/test/vhostUserAddDel/vhostUserAddDel
cnivpp/test/ipAddDel/ipAddDel
cnivpp/bin_api/
docker/usrsp-app/usrsp-app
docker/vpp-centos-userspace-cni/usrsp-app
docker/ovs-centos-userspace-cni/usrsp-app
docker/unit-tests/Dockerfile.*
!docker/unit-tests/Dockerfile.*.in
