userspace/userspace
cnivpp/test/memifAddDel/memifAddDel
cnivpp/test/vhostUserAddDel/vhostUserAddDel
cnivpp/test/ipAddDel/ipAddDel
docker/usrsp-app/usrsp-app
docker/vpp-centos-userspace-cni/usrsp-app
docker/ovs-centos-userspace-cni/usrsp-app
vendor/git.fd.io/govpp.git/core/bin_api/
vendor/git.fd.io/govpp.git/cmd/binapi-generator/binapi-generator

