name: E2E
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:

  e2e:
    name: E2E
    runs-on: hugepage-runner
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: 1.21.10
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: install_go_kubectl_kind
        run: source ./ci/ci.sh && install_go_kubectl_kind
      - name: create_kind_cluster
        run: source ./ci/ci.sh && create_kind_cluster
      - name: deploy_multus
        run: source ./ci/ci.sh && deploy_multus
      - name: deploy_userspacecni
        run: source ./ci/ci.sh && deploy_userspace
      - name: vpp_e2e_test
        run: source ./ci/ci.sh && vpp_e2e_test
      - name: build_ovs_container
        run: source ./ci/ci.sh && build_ovs_container
      - name: build_test-pmd_container
        run: source ./ci/ci.sh && build_testpmd_container
      - name: ovs_e2e_test
        run: source ./ci/ci.sh && ovs_e2e_test


