name: fuzz-tests
on:
  schedule:
    - cron: "37 4 * * 0"
  pull_request:
    paths:
      - '**fuzz.yml'

permissions:
  contents: read

jobs:
    fuzz-tests:
        name: fuzz-tests
        runs-on: ubuntu-latest
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
            with:
              egress-policy: audit

          - name: Set up Go
            uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
            with:
              go-version: 1.20.1
          - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
          - name: make fuzz
            run: make fuzz
