name: fuzz-tests
on:
  schedule:
    - cron: "37 4 * * 0"
  pull_request:
    paths:
      - '**fuzz.yml'

permissions:
  contents: read

jobs:
    fuzz-tests:
        name: fuzz-tests
        runs-on: ubuntu-latest
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
            with:
              egress-policy: audit

          - name: Set up Go
            uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
            with:
              go-version: 1.22.3
          - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
          - name: make fuzz
            run: make fuzz
