name: unit-tests
on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

jobs:
    unit-tests:
        name: unit-tests
        runs-on: hugepage-runner
        steps:
          - name: Harden Runner
            uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
            with:
              egress-policy: audit

          - name: Set up Go
            uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
            with:
              go-version: 1.22.3
          - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
          - name: make unit-test
            run: make unit-test
            