name: Weekly_E2E
on:
  schedule:
    - cron: "37 4 * * 0"
  pull_request:
    paths:
      - '**weekly_e2e.yml'
  push:
    branches:
    - main
    paths:
      - '**weekly_e2e.yml'
permissions:
  contents: read

jobs:

  vpp_latest:
    name: E2E_vpp_latest
    runs-on: hugepage-runner
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: 1.21.10
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: vpp_ligato_latest_container
        run: source ./ci/ci.sh && vpp_ligato_latest_container
      - name: install_go_kubectl_kind
        run: source ./ci/ci.sh && install_go_kubectl_kind
      - name: create_kind_cluster
        run: source ./ci/ci.sh && create_kind_cluster
      - name: deploy_multus
        run: source ./ci/ci.sh && deploy_multus
      - name: deploy_userspacecni
        run: source ./ci/ci.sh && deploy_userspace
      - name: vpp_e2e_test
        run: source ./ci/ci.sh && vpp_e2e_test

  kind_multiversion:
    name: E2E_kind_multiversion-${{ matrix.kubernetes_version }}
    runs-on: hugepage-runner
    strategy:
      matrix:
        kubernetes_version: [v1.28.0,v1.27.0,v1.26.0]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: 1.21.10
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: install_go_kubectl_kind
        run: source ./ci/ci.sh && install_go_kubectl_kind
      - name: create_kind_cluster
        run: source ./ci/ci.sh && create_kind_cluster -v ${{ matrix.kubernetes_version }}
      - name: deploy_multus
        run: source ./ci/ci.sh && deploy_multus
      - name: deploy_userspacecni
        run: source ./ci/ci.sh && deploy_userspace
      - name: vpp_e2e_test
        run: source ./ci/ci.sh && vpp_e2e_test
      - name: build_ovs_container
        run: source ./ci/ci.sh && build_ovs_container
      - name: build_test-pmd_container
        run: source ./ci/ci.sh && build_testpmd_container
      - name: ovs_e2e_test
        run: source ./ci/ci.sh && ovs_e2e_test
